html{
    font-family: 'Emilys Candy', cursive;
    line-height: 0%;
 }

 
.header{
    text-align: center;
    margin: auto;
    background-color: #1374F2;
}

#hamburguer{
    background-color: #F2B705;
    color: black;
    display: block;
    text-align: center;
    padding: 0.3em;
    cursor: pointer;
    font-size: 2em;
}
.header_nav{
    background-color: rgba(7, 45, 95, 0.354);
    display: none;
}
.header_nav.show{
    display: block;
}

ul{
    margin: 0;
}


.header_nav ul{
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .8em;
}

.header_nav a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 1em;
}

.header_nav a:hover{
    background-color: color-mix(in srgb, #ead28b , #ffff 50%);
    color: rgba(0, 0, 0, 0.719) ;
}


.header_logo{
    width: 5em; /*90px divido por 16*/
    height:auto;
}

.foto-fundo{
    width: 100%;
    background-size: cover;
}
.fundo_main{
    line-height: 0%;
}

@media screen and (min-width: 48em) {
    #hamburguer{
        display: none;
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #1374F2;
        padding: .5em;
    }

    .header_logo{
        margin-left: 2em;
        width: 8%;
    }

    .header_nav{
        display: block;
        background-color: #1374F2;
        
    }

    .header_nav ul{
        margin-right: 2em;
        font-size: .9em;
    }
    .header_nav li{
        display: inline-block;
    }
    .header_nav a{
        border-radius: 5px;
        color: white;
    }

    .header_nav a:hover{
        background-color: #b8d7f4;
        color: rgba(13, 0, 0, 0.623);
    }
    .foto-fundo{
        height: 100vh;
        background-size: cover;
        
    }
}

footer {
    background-color: #F2B705;
    text-align: center;
    padding: .8em;
}


.tamanho{
    width: 3em;
    height: auto;
    
}

.img_footer{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.texto_footer{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 1em;
}

@media screen and (min-width: 48em){/*768px maior que */

    .img_footer{
        flex-direction: row;
        justify-content: center;
        gap:1.5em;
    }

}